<div class="panel panel-default" ng-controller="ActionsCtrl">
  <div class="panel-heading">
    Action server
  </div>
  <h5>Generic</h5>
  <div>
    <!--<button type="button" class="btn btn-primary" ng-click="sendGripperCommand({side: 'left', direction: 'open'});">Open left</button>-->
    <button type="button" class="btn btn-primary" ng-click="trigger('amigo');">Trigger</button>
    <button type="button" class="btn btn-primary">Cancel</button>
  </div>
  <h5>Shortcuts</h5>
  <div>
    <button type="button" class="btn btn-primary">Presentation</button>
    <button type="button" class="btn btn-primary">Presentation Dutch</button>
  </div>

</div>