<div class="panel panel-default">
  <div class="panel-body nav nav-tabs" id="teleop-tabs-content">
    <div>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#teleop-base" role="tab" data-toggle="tab">
              <icon class="fa fa-arrows"></icon> 
          </a>
        </li>
        <li>
          <a href="#teleop-head" role="tab" data-toggle="tab">
              <icon class="fa fa-smile-o"></icon> 
          </a>
        </li>
        <li>
          <a href="#teleop-body" role="tab" data-toggle="tab">
              <icon class="fa fa-male"></icon> 
          </a>
        </li>
        <li>
          <a href="#teleop-speech" role="tab" data-toggle="tab">
              <icon class="fa fa-volume-up"></icon> 
          </a>
        </li>
        <li>
          <a href="#teleop-ed" role="tab" data-toggle="tab">
              <icon class="fa fa-globe"></icon> 
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="teleop-base">
        <div ng-include="'views/tabs/teleop_tabs/base.html'" style="width: 100%; height: 300px"></div>
      </div>
      <div class="tab-pane" id="teleop-head">
        <div ng-include="'views/tabs/teleop_tabs/head.html'" style="width: 100%; height: 300px"></div>
      </div>
      <div class="tab-pane" id="teleop-body" ng-include="'views/tabs/teleop_tabs/body.html'">
      </div>
      <div class="tab-pane" id="teleop-speech" ng-include="'views/tabs/teleop_tabs/speech.html'">
      </div>
      <div class="tab-pane" id="teleop-ed" ng-include="'views/tabs/teleop_tabs/ed.html'">
      </div>
    </div>
  </div>
</div>
