<?xml version="1.0" encoding="UTF-8" ?>
<div class="card">
  <div class="card-body nav nav-tabs" id="teleop-tabs-content">
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" data-target="#teleop-base" type="button" role="tab" aria-controls="teleop-base">
              <icon class="fa-solid fa-arrows-up-down-left-right"></icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" data-target="#teleop-head" type="button" role="tab" aria-controls="teleop-head">
            <icon class="fa-regular fa-face-smile"></icon>
         </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" data-target="#teleop-body" type="button" role="tab" aria-controls="teleop-body">
            <icon class="fa-solid fa-male"></icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" data-target="#teleop-speech" type="button" role="tab" aria-controls="teleop-speech">
            <icon class="fa-solid fa-volume-high"></icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" data-target="#teleop-wm" type="button" role="tab" aria-controls="teleop-wm">
            <icon class="fa-solid fa-globe"></icon>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="teleop-base">
        <div ng-include="'views/tabs/teleop_tabs/base.html'" style="width: 300px; height: 300px"></div>
      </div>
      <div class="tab-pane" id="teleop-head">
        <div ng-include="'views/tabs/teleop_tabs/head.html'" style="width: 300px; height: 300px"></div>
      </div>
      <div class="tab-pane" id="teleop-body" ng-include="'views/tabs/teleop_tabs/body.html'">
      </div>
      <div class="tab-pane" id="teleop-speech" ng-include="'views/tabs/teleop_tabs/speech.html'">
      </div>
      <div class="tab-pane" id="teleop-wm" ng-include="'views/tabs/teleop_tabs/ed.html'">
      </div>
    </div>
  </div>
</div>
