html, body {
	margin: 0;
	padding: 0;
    height: 100%;
}

body {
  padding-top: 50px; /* fixed navbar */
}

.main-view {
  height: 100%;
}

.entity-labeler {
  height: 80%;
}

.rgbd-image {
  
}

.model-view {
  padding: 0;
  background: #fff;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
}

.model-view-image {
  height: 30%;
}

.model-view-image img {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.model-db {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  height: 20%;
}

.model-db button {
  display: inline;
  height: 100%;
}

.model-db button img {
  height: 100%;
}