<h5>Body pose board</h5>
<div ng-controller="JointCtrl">
  <h6>Torso</h6>
  <div>
    <button ng-repeat="(key, value) in default_configurations['torso']"
            type="button" class="btn btn-primary"
            ng-click="sendJointCommand({body_part: 'torso', configuration: key});">
            {{key}}
    </button>
  </div>
  <h6>Left arm</h6>
  <div>
    <button ng-repeat="(key, value) in default_configurations['leftArm']"
            type="button" class="btn btn-primary"
            ng-click="sendJointCommand({body_part: 'leftArm', configuration: key});">
            {{key}}
    </button>
  </div>
  <h6>Right arm</h6>
  <div>
    <button ng-repeat="(key, value) in default_configurations['rightArm']"
            type="button" class="btn btn-primary"
            ng-click="sendJointCommand({body_part: 'rightArm', configuration: key});">
            {{key}}
    </button>
  </div>
  <h6>Grippers</h6>
  <div>
    <button type="button" class="btn btn-primary" ng-click="sendGripperCommand({side: 'left', direction: 'open'});">Open left</button>
    <button type="button" class="btn btn-primary" ng-click="sendGripperCommand({side: 'right', direction: 'open'});">Open right</button>
    <button type="button" class="btn btn-primary" ng-click="sendGripperCommand({side: 'left', direction: 'close'});">Close left</button>
    <button type="button" class="btn btn-primary" ng-click="sendGripperCommand({side: 'right', direction: 'close'});">Close right</button>
  </div>
</div>
