<div ng-controller="JointCtrl" id="body-tab">
    <button class="btn btn-primary" ng-click="loadConfiguration()" ng-show="joint_names === undefined">Load configuration</button>
    <div ng-show="joint_names !== undefined">

      <div class="accordion" id="accordion" style="width: 100%;">
        <!-- body parts -->
        <div class="card" ng-repeat="(part_name, joints) in default_configurations">
          <div class="card-header" id="heading{{part_name}}">
            <h4 class="card-title">
              <a type="button" data-toggle="collapse" href="#collapse{{part_name}}" aria-controls="collapse{{part_name}}">{{part_name}}</a>
            </h4>
          </div>
          <div id="collapse{{part_name}}" class="collapse" aria-labelledby="collapse{{part_name}}" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group">
                <a href="#" class="list-group-item" ng-repeat="(config_name, value) in default_configurations[part_name]"
                type="button" ng-click="sendJointCommand({body_part: part_name, configuration: config_name});">
                {{config_name | makeNice}}</a>
              </ul>
            </div>
          </div>
        </div>
        <!-- grippers -->
        <div class="card" ng-repeat="(gripper_name, gripper) in grippers">
          <div class="card-header" id="heading{{gripper_name}}">
            <h4 class="card-title">
              <a type="button" data-toggle="collapse" href="#collapse{{gripper_name}}" aria-controls="collapse{{gripper_name}}">{{gripper_name}}</a>
            </h4>
          </div>
          <div id="collapse{{gripper_name}}" class="collapse" aria-labelledby="collapse{{gripper_name}}" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group">
                <a href="#" class="list-group-item" ng-click="sendGripperCommand({side: gripper_name, direction: 'open'});">Open</a>
                <a href="#" class="list-group-item" ng-click="sendGripperCommand({side: gripper_name, direction: 'close'});">Close</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
