<div ng-controller="SpeechCtrl">
<h5>Text to speech</h5>
<form ng-submit="speak(sentence)">
  <input type="text" ng-model="sentence" name="sentence" placeholder="Enter the text and press <enter> ..."/>
  <input type="submit" class="btn" id="submit" value="Submit" />
</form>
<hr />
<h5>History</h5>
<div class="list-group">
  <a ng-repeat="s in speech_history track by $index" href="#" ng-click="speak(s)" class="list-group-item">{{s}}</a>
</div>
</div>
<!-- <ul id="hear-log" class="list-group"></ul> -->
