<div ng-controller="SpeechCtrl">
<h5>Text to speech</h5>
<form ng-submit="speak(sentence)">
  <div class="input-group">
    <input type="text" ng-model="sentence" class="form-control" placeholder="Enter the text and press <enter> ...">
    <span class="input-group-btn">
      <input type="submit" class="btn btn-primary" value="Go!" />
    </span>
  </div><!-- /input-group -->
</form>
<hr />
<h5>History</h5>
<div class="list-group">
  <a ng-repeat="s in speech_history track by $index" href="#" ng-click="speak(s)" class="list-group-item">{{s}}</a>
</div>
</div>
