<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="challengeOpenApp" ng-controller="SnapshotlistCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">

          <div class="navbar-header">
            <a ng-controller="ConnectionCtrl" class="navbar-brand" href="#/">{{connection}}</a>
          </div>

          <form class="navbar-form navbar-left">
            <button type="submit" class="btn btn-warning" ng-click="undo()" ng-disabled="isUndoing">
              <span ng-if="isUndoing" class="glyphicon glyphicon-time"></span>
              <span ng-if="!isUndoing" class="glyphicon glyphicon-share-alt icon-flipped"></span>
            </button>
            <button type="submit" class="btn btn-default" ng-click="stretch()">
              <span class="glyphicon glyphicon-move"></span>
            </button>
          </form>

          <form class="navbar-form navbar-right" ng-controller="TriggerCtrl">
            <button ng-click="create_walls()" type="submit" class="btn btn-info" ng-disabled="creating">
              <span class="glyphicon glyphicon-flag"></span> Create walls
            </button>
            <button ng-click="trigger('exit_robot')" type="submit" class="btn btn-danger">
              <span class="glyphicon glyphicon-off"></span>
            </button>
          </form>

        </div>
      </div>
    </div>

    <div class="main-view" ng-include="'views/main.html'" ng-controller="MainCtrl">
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/console-polyfill/index.js"></script>
    <script src="bower_components/eventemitter2/lib/eventemitter2.js"></script>
    <script src="bower_components/roslibjs/build/roslib.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/ngDraggable/ngDraggable.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/api/robot.js"></script>
        <script src="scripts/api/hardware.js"></script>
        <script src="scripts/api/ed.js"></script>
        <script src="scripts/api/head.js"></script>
        <script src="scripts/api/base.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/run.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/robot.js"></script>
        <script src="scripts/controllers/connection.js"></script>
        <script src="scripts/controllers/modellist.js"></script>
        <script src="scripts/controllers/snapshotlist.js"></script>
        <script src="scripts/controllers/trigger.js"></script>
        <!-- endbuild -->
</body>
</html>
