<ng-controller>

  <ng-controller>
    <tue-battery-status></tue-battery-status>
    <tue-ebuttons></tue-ebuttons>
  </div>

  <!-- Define ebuttons -->
  <script type="text/ng-template" id="/ebutton.html">
    <ul class="nav navbar-nav navbar-right" style="padding: 0 15px;">
      <li>
        <!-- <button ng-repeat="ebutton in ebuttons" class="btn btn-xs btn-circle" ng-class="ebutton.color" ng-attr-title="{{ebutton.name}}"> -->
        <button ng-repeat="ebutton in ebuttons" class="btn navbar-btn btn-circle" ng-class="ebutton.color" ng-attr-title="{{ebutton.name}}">
          <span ng-class="ebutton.icon"></span>
        </button>
      </li>
    </ul>
  </script>

  <!-- Define battery status indicator -->
  <script type="text/ng-template" id="/battery.html">
    <ul class="nav navbar-nav navbar-right">
      <li style="width: 100px;" ng-repeat="(key, v) in batteries">
        <div class="progress" style="margin: 8px; min-height: 32px" >
          <div class="progress-bar" role="progressbar" aria-valuenow="v.value" aria-valuemin="0" aria-valuemax="100" style="line-height: 32px"
               ng-style="{'width': v.value + '%'}"
               ng-class="'progress-bar-' + v.type">
            <span><b>{{key}} {{v.value}}%</b></span>
          </div>
        </div>
      </li>
    </ul>
  </script>
</div>
