<ng-controller ng-controller="HardwareCtrl">

  <ng-controller ng-controller="StatusCtrl">

    <tue-hardware-button title="all"
        status="hardware.all" action="sendCommand('all', action)">
      <span ng-if="rosStatus != 'connected'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus == 'connected'" class="glyphicon glyphicon-plane"></span>
    </tue-hardware-button>

    <tue-hardware-button title="base"
        status="hardware.base" action="sendCommand('base', action)">
      <span ng-if="rosStatus != 'connected'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus == 'connected'" class="glyphicon glyphicon-move"></span>
    </tue-hardware-button>

    <tue-hardware-button title="spindle"
        status="hardware.spindle" action="sendCommand('spindle', action)">
      <span ng-if="rosStatus != 'connected'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus == 'connected'" class="glyphicon glyphicon-sort"></span>
    </tue-hardware-button>

    <tue-hardware-button title="left arm"
        status="hardware.left_arm" action="sendCommand('left_arm', action)">
      <span ng-if="rosStatus != 'connected'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus == 'connected'" class="glyphicon glyphicon-hand-left"></span>
    </tue-hardware-button>

    <tue-hardware-button title="right arm"
        status="hardware.right_arm" action="sendCommand('right_arm', action)">
      <span ng-if="rosStatus != 'connected'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus == 'connected'" class="glyphicon glyphicon-hand-right"></span>
    </tue-hardware-button>

    <tue-hardware-button title="head"
        status="hardware.head" action="sendCommand('head', action)">
      <span ng-if="rosStatus != 'connected'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus == 'connected'" class="glyphicon glyphicon-user"></span>
    </tue-hardware-button>

    <tue-ebuttons></tue-ebuttons>

  </div>

  <div ng-controller="BatteryCtrl" class="battery-wrapper" title="battery value">
    <progressbar value="battery" type="{{batteryType}}"
        ngCloak
        ng-class="{'progress-striped': batteryUnknown, active: batteryUnknown}">
      <b ng-if="batteryUnknown">Unknown</b>
      <b ng-if="!batteryUnknown">{{battery}}%</b>
    </progressbar>
  </div>

  <script type="text/ng-template" id="/hardware-button.html">
    <ul class="nav navbar-nav navbar-right" style="padding: 0 10px;">
      <li class="dropdown">
        <button class="btn btn-default navbar-btn dropdown-toggle" ng-class="status.class" data-toggle="dropdown" role="button" ng-transclude></button>
        <ul class="dropdown-menu">
        <li ng-repeat="(action, options) in status.actions" ng-class="options.enabled || 'disabled'">
          <a href="#" ng-click="handleClick(action)">
            <span class="glyphicon glyphicon-{{options.glyphicon}}"></span> {{action}}
          </a>
        </li>
          <!-- <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li> -->
        </ul>
      </li>
    </ul>



<!--     <ul class="nav navbar-nav navbar-right">
      <li>
        <button class="btn btn-xs dropdown-toggle" ng-class="status.class" dropdown-toggle ng-transclude />
      </li>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(action, options) in status.actions" ng-class="options.enabled || 'disabled'">
          <a href="#" ng-click="handleClick(action)">
            <span class="glyphicon glyphicon-{{options.glyphicon}}"></span> {{action}}
          </a>
        </li>
      </ul>
    </ul> -->
  </script>

</div>