<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 main" ng-include="'views/scene.html'">
    </div>
    <div ng-controller="CircularmenuCtrl">
      <circular id="action-menu"
        options="options">
      </circular>
    </div>

    <div id="sidebar" class="col-xs-3 col-sm-3 col-md-3 sidebar" ng-controller="SidebarCtrl">

      <!-- Nav tabs -->
      <div id="main-tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
              <a href="#teleop" role="tab" data-toggle="tab">
                  <icon class="fa fa-arrows"></icon> Teleop
              </a>
          </li>
          <li><a href="#editor" role="tab" data-toggle="tab">
              <i class="fa fa-building"></i> Editor
              </a>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="teleop" ng-controller="TeleopCtrl">
          <div ng-include="'views/tabs/teleop.html'" class="tab">
          </div>
        </div>
        <div class="tab-pane" id="editor">
          <div ng-include="'views/tabs/editor.html'" class="tab">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
