<div class="container-fluid">
  <div class="row">

    <!-- Nav tabs -->
    <div id="main-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#robot-control" role="tab" data-toggle="tab">
                <icon class="fa fa-android"></icon> Robot control
            </a>
        </li>
        <li><a href="#scene-editor" role="tab" data-toggle="tab">
            <i class="fa fa-building"></i> Scene editor
            </a>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <div class="tab-pane active" id="robot-control">
        <div class="col-xs-9 col-sm-9 col-md-9 main" ng-include="'views/scene.html'">
        </div>
        <div ng-controller="CircularmenuCtrl">
          <circular id="action-menu"
            options="options">
          </circular>
        </div>
        <div id="sidebar" class="col-xs-3 col-sm-3 col-md-3 sidebar" ng-controller="SidebarCtrl">

          <div id="robot-control-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active">
                  <a href="#teleop" role="tab" data-toggle="tab">
                      <icon class="fa fa-arrows"></icon> Teleop
                  </a>
              </li>
            </ul>
          </div>

          <div class="tab-content">
            <div class="tab-pane active" id="teleop" ng-controller="TeleopCtrl">
              <div ng-include="'views/tabs/teleop.html'" class="tab">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="scene-editor" ng-controller="SnapshotlistCtrl">
        <div class="container-fluid snapshot-model-editor">
          <div class="row top-row">

            <div ng-controller="ModellistCtrl" class="col-xs-12 models"
                ng-style="{ 'background-image': 'url('+camera_src+')', 'background-size': backgroundSize}"
                ng-drop="true" ng-drop-success="onDropComplete($data,$event)"
                ng-click="camera_click($event)">

              <div class="model-list-wrapper">
                <button ng-repeat="(id, model) in models" type="button" class="btn btn-lg"
                    ng-class="{ 'btn-primary': selected == id, 'btn-default': selected != id }"
                    ng-drag="true" ng-center-anchor="true" ng-drag-data="id"
                    ng-drag-success="onDragComplete($data,$event)">
                  <div class="model-name">{{model.name}}</div>
                  <img class="img-responsive" src="{{model.src}}" />
                </button>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>





<!--

     -->






  </div>
</div>
