<div class="panel panel-default" id="kinect-view">
  <div class="panel-heading">
    Robot's view
  </div>
  <div class="panel-body">
    <img src="{{kinect_image}}" alt="..." style="width: 100%">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Robot Teleop
  </div>
  <div class="panel-body nav nav-tabs">
    <div>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#teleop-base" role="tab" data-toggle="tab">
              <icon class="fa fa-arrows"></icon> Base
          </a>
        </li>
        <li>
          <a href="#teleop-head" role="tab" data-toggle="tab">
              <icon class="fa fa-smile-o"></icon> Head
          </a>
        </li>
        <li>
          <a href="#teleop-body" role="tab" data-toggle="tab">
              <icon class="fa fa-male"></icon> Body
          </a>
        </li>
        <li>
          <a href="#teleop-speech" role="tab" data-toggle="tab">
              <icon class="fa fa-volume-up"></icon> Speech
          </a>
        </li>
        <li>
          <a href="#teleop-ears" role="tab" data-toggle="tab">
              <icon class="fa fa-microphone"></icon> Ears
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="teleop-base" ng-include="'views/tabs/teleop_tabs/base.html'">
      </div>
      <div class="tab-pane" id="teleop-head" ng-include="'views/tabs/teleop_tabs/head.html'">
      </div>
      <div class="tab-pane" id="teleop-body" ng-include="'views/tabs/teleop_tabs/body.html'">
      </div>
      <div class="tab-pane" id="teleop-speech" ng-include="'views/tabs/teleop_tabs/speech.html'">
      </div>
      <div class="tab-pane" id="teleop-ears" ng-include="'views/tabs/teleop_tabs/ears.html'">
      </div>
    </div>
  </div>
</div>