<div class="row entity-labeler">
  <div class="col-xs-12 col-md-8">
    <img class="img-responsive entity-image" src="images/coca-cola.jpg" />
  </div>
  <div class="col-xs-6 col-md-4">

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-4"><button type="button" class="btn btn-primary btn-lg btn-block">Block</button></div>
        <div class="col-xs-6 col-md-4"><button type="button" class="btn btn-primary btn-lg btn-block">Block</button></div>
        <div class="col-xs-6 col-md-4"><button type="button" class="btn btn-primary btn-lg btn-block">Block</button></div>
        <div class="col-xs-6 col-md-4"><button type="button" class="btn btn-primary btn-lg btn-block">Block</button></div>
        <div class="col-xs-6 col-md-4"><button type="button" class="btn btn-primary btn-lg btn-block">Block</button></div>
        <div class="col-xs-6 col-md-4"><button type="button" class="btn btn-primary btn-lg btn-block">Block</button></div>
      </div>
    </div>

  </div>

</div>

<div class="row entity-selector" ng-controller="EntityselectorCtrl">
  <div ng-repeat="entity in entities" class="col-xs-1">
    {{entity.name}} - <img class="img-responsive" src="{{entity.src}}" />
  </div>
</div>
