<div class="container-fluid snapshot-model-editor">
  <div class="row top-row">

    <div ng-controller="ModellistCtrl" class="col-xs-12 models"
        ng-style="{ 'background-image': 'url('+snapshots[selected].src+')', 'background-size': backgroundSize}"
        ng-drop="true" ng-drop-success="onDropComplete($data,$event)"
        ng-click="snapshot_click($event)">

      <button ng-repeat="(id, model) in models" type="button" class="btn btn-lg"
          ng-class="{ 'btn-primary': selected == id, 'btn-default': selected != id }"
          ng-drag="true" ng-center-anchor="true" ng-drag-data="id"
          ng-drag-success="onDragComplete($data,$event)">
        <div class="model-name">{{model.name}}</div>
        <img class="img-responsive" src="{{model.src}}" />
      </button>

    </div>

  </div>

  <div class="row bottom-row">

    <div class="col-xs-1 snapshot-controls">
      <button type="submit" class="btn btn-primary" ng-click="make_snapshot_or_play()" ng-class="{active: isSnapshotting}">
        <span ng-if="selected == 'current'" class="glyphicon glyphicon-camera"></span>
        <span ng-if="selected != 'current'" class="glyphicon glyphicon-play-circle"></span>
      </button>
    </div>

    <div class="col-xs-9 snapshots">
      <button ng-repeat="(id, snapshot) in snapshots"
          type="button" class="btn btn-lg"
          ng-class="{ 'btn-primary': selected == id, 'btn-default': selected != id }"
          ng-click="select(id)">
        <img class="img-responsive" src="{{snapshot.src}}" />
        <div class="snapshot-delete" ng-click="delete(id, $event)"><span class="glyphicon glyphicon-remove"></span></div>
      </button>
    </div>

    <div class="col-xs-2 logo">
      <!-- We are going to draw a canvas here -->
      <canvas id="teleop-canvas">
        Canvas not supported unfortunately.
      </canvas>
    </div>

  </div>

</div>
