#content {

}

#main {
	position: absolute;
	padding-top: 44px;
	width: 100%;
  height: 100%;
}

#main > div {
	display: none;
}

#main > div.active {
	display: block;
}

/* Table buttons */

table.buttons {
	width: 100%;
	/*border-spacing: 0px 3px;
	border-collapse: separate; */
}

table.buttons td {
	padding: .5em .3em .5em .3em;
	background-color: #f5f5f5;
}

table.buttons td.table-header {
	font-size: 14pt;
	background-color: #4D4D4D;
	color: #ffffff;
	padding: 0px 5px 0px 5px;
}

table.buttons .btn {
	width: 100%;
    font-size: 10pt;
}

/* Demo toolbar styles */

/* Show "Left" drawer for the "Right" drawer in the demo */
.snapjs-right .snap-drawer-left {
	display: block;
	right: 0;
	left: auto;
}

#toolbar {
  background: #111111;
  border-bottom: 1px solid #111b32;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 44px;
}

#toolbar h1 {
  color: #fff;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 44px;
  left: 44px;
  width: auto;
  height: 44px;
  margin-top: 10px;
}

#open-left {
  background: url(../images/open.png) center center no-repeat;
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

/* Default demo styles */
.snap-content {
  background: #9E9E9E;
}

.snap-drawers {
  background: #111111;
}

.snap-drawer {
	background: #111111;
	color: #eee;
}

.snap-drawer h3 {
  font-size: 36px;
  font-weight: normal;
  margin: 15px;
}

.snap-drawer h4 {
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0;
}

.snap-drawer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.snap-drawer li > a {
  display: block;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  font-weight: bold;
  text-shadow: 0 1px 0 #000;
  text-decoration: none;
  color: #ccc;
  text-indent: 20px;
}

.snap-drawer p {
  opacity: 0.5;
  padding: 15px;
  font-size: 12px;
}

.toggle-active { background-color: green; }

#teleop-canvas {}

#toggle-options {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 10px 0 0 10px;
  width: 44px;
  height: 44px;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.history-ping {
  background-color: white;
}

#amigohear,
#texttospeech {
  background-color: white;
}

#final {
  background-color: white;
  height: 100%;
}

#map-image
{
  width: 100%;
}

#presentation
{
  background-color: white;
}