html, body, div.tab-pane, div.tabbable, div.tab-content {
	height: 100%;
    margin: 0;
    overflow: hidden;
}

div.tab-pane div {
	min-height: 100%; 
	overflow: hidden;
}

ul.nav-tabs {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-weight: bold;
}

ul.nav-tabs li.active a {
	background-color: #DBDBDB;
}

ul.nav-tabs li a:hover, ul.nav-tabs li.active a:hover {
	background-color: #fff;
}

ul.nav-tabs a, ul.nav-tabs li a {
	background-color: #fff;
}